 
      <div class="row">
        <div class="col-lg-9 sidebar">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Производитель
                  </a>
                </h4>
        </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

        <form class="form-signin" role="form" method="GET" action="/smart/">
        <div class="btn-group-vertical" style="padding-left:10px;" >
        <label class="checkbox">
          <input type="checkbox" name="check0" value="Xiaomi" autocomplete="off"> Xiaomi
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check1" value="Meizu" autocomplete="off"> Meizu
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check2" value="Samsung" autocomplete="off"> Samsung
        </label>
         <label class="checkbox">
            <input type="checkbox" name="check6" value="Apple" autocomplete="off"> iPhone
        </label>
        </div>
         </div>
         </div>

         <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Диагональ экрана
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">

        <div class="btn-group-vertical" style="padding-left:10px;" >
        <label class="checkbox">
          <input type="checkbox" name="check3" value="4" autocomplete="off"> 4"
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check4" value="5" autocomplete="off"> 5"
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check5" value="5.5" autocomplete="off"> 5,5"
        </label>
        </div>
        </div>
        </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Оперативная память
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">

        <div class="btn-group-vertical" style="padding-left:10px;" >
        <label class="checkbox">
          <input type="checkbox" name="check7" value="1" autocomplete="off"> 1 Гб
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check8" value="2" autocomplete="off"> 2 Гб
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check9" value="3" autocomplete="off"> 3 Гб
        </label>
            </label>
        <label class="checkbox">
            <input type="checkbox" name="check10" value="4" autocomplete="off"> 4 Гб
        </label>
        </div>
        </div>
        </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                Основная камера
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">

        <div class="btn-group-vertical" style="padding-left:10px;" >
        <label class="checkbox">
          <input type="checkbox" name="check11" value="5" autocomplete="off"> 5 Мп
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check12" value="8" autocomplete="off"> 8 Мп
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check13" value="10" autocomplete="off"> 10 Мп
        </label>
       <label class="checkbox">
            <input type="checkbox" name="check14" value="12" autocomplete="off"> 12 Мп
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check15" value="13" autocomplete="off"> 13 Мп
        </label>
       <label class="checkbox">
            <input type="checkbox" name="check16" value="16" autocomplete="off"> 16 Мп
        </label>
       <label class="checkbox">
            <input type="checkbox" name="check17" value="20" autocomplete="off"> 20 Мп
        </label>
        </div>
        </div>
        </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                Операционная система
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">

        <div class="btn-group-vertical" style="padding-left:10px;" >
        <label class="checkbox">
          <input type="checkbox" name="check18" value="Android" autocomplete="off"> Android
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check19" value="IOS" autocomplete="off"> iOS
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check20" value="Windows Mobile" autocomplete="off"> Windows Mobile
        </label>
        </div>
        </div>
        </div>
        </div>

          <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                Кол-во ядер процессора
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">

        <div class="btn-group-vertical" style="padding-left:10px;" >
        <label class="checkbox">
          <input type="checkbox" name="check21" value="2" autocomplete="off"> 2
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check22" value="4" autocomplete="off"> 4
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check23" value="6" autocomplete="off"> 6
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check24" value="8" autocomplete="off"> 8
        </label>
        </div>
        </div>
        </div>
        </div>



        <div class="page-header"  style="margin: 0px 0 5px"></div> 
        <div class="btn-group" data-toggle="buttons" style="padding-left:10px;">
          <label class="btn btn-primary btn-info">
          <input type="checkbox" name="checki" value="i" autocomplete="off">Закрепить фильтры
        </label>
        </div>
        <div class="page-header"  style="margin: 15px 0 10px"></div> 
        <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-3"></div>
         <div class="col-md-6">
        <button type="submit" class="btn btn-info" style="padding-left:10px;">Поиск</button>
        </div>
        </div>
        </form>
      </div>
      </div>
      </div>
    </div>

   
  



    