{% load static %}

<div class="container">
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="/">Fastshop</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/info/">Информация о магазине</a></li>
        <li class="dropdown">
          <a href="#"  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false">Товары <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  tabindex="-1" href="/smart/">Смартфоны</a></li>
            <li><a  tabindex="-1" href="#">Компьютерная техника</a></li>
            <li  class="divider"></li>
            <li><a  tabindex="-1" href="#">Прочее</a></li>

          </ul>
        </li>
      </ul>

        <ul class="navbar-form navbar-left">
        <form action="/suggest_category/" method="get">
            <!--{% csrf_token %} -->
        <label></label>
            <div class="form-group">
       <input  class="form-control" type="text" name="suggestion" value="" id="suggestion" placeholder="Универсальный поиск" maxlength="200"/>
            </div>
        </form>
        </ul>

        <div style="border-radius: 0 100px 10px 10px; top: 101%; margin-top: -0.625em; position: absolute; width:350px; background:#E6E6FA								; margin:auto; left:50%; margin-left:-156px "  id="cats">
        </div>


      <form class="navbar-form navbar-right">
        <div class="form-group">
          <a href="/login/" class="btn btn-default btn-sm">Личный кабинет</a>
         {% with total_items=cart|length %}
          {% if cart|length > 0 %}
          <a style="    color: #9d9d9d; text-decoration: none;"> Ваша корзина: </a>
            <a href="{% url "cart:CartDetail" %} ">
                {{ total_items }} тов.
            </a>
         {% else  %}
             <a style=" color: #9d9d9d; text-decoration: none;"> Корзина пустая  </a>
          {% endif %}
          {% endwith %}


        </div>
      </form>




    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>