<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="row">
        <div class="col-md-12">
        

  <div class="carousel-inner" role="listbox">
  
    <div class="item active">
      <a href="#">
      <img src="/static/img/11.jpg" alt="Акция 1">
      </a>
      <div class="carousel-caption">
        Акция 1
      </div>
    </div>

    
    <div class="item">
     <a href="#">
      <img src="/static/img/12.jpg" alt="Акция 2">
      </a>
      <div class="carousel-caption">
        Акция 2
      </div>
    </div>

    <div class="item ">
     <a href="#">
      <img src="/static/img/13.jpg" alt="Акция 3">
     </a> 
      <div class="carousel-caption">
        Акция 3
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>